<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍管理</title>
</head>
<body>
<div>
    <div>
        <a th:href="@{books/new}">書籍登録</a>
    </div>
</div>
<div>
    書籍検索
</div>
<form th:method="post" th:action="@{/books}" >
    <div>
        <div>
            書籍名: <input type="text" id="name" name="name" size="50" value="" />
        </div>
        <div>
            著者名: <input type="text" id="author" name="author" size="50" value="" />
        </div>
        <div>
            出版社: <input type="text" id="publisher" name="publisher" size="50" value="" />
        </div>
    </div>
    <div>
        <input type="submit" value="検索" />
    </div>
</form>
<div>
    検索結果
</div>

<ul th:unless="${books.isEmpty()}">
    <table border="1">
        <tr>
            <th>登録番号</th>
            <th>書籍名</th>
            <th>著者名</th>
            <th>出版社</th>
            <th>削除</th>
        </tr>
        <tr th:each="book:${books}">
            <td>
                <a th:href="@{books/{id}/edit(id=${book.id})}">
                    <span th:text="${book.id}"></span>
                </a>
            </td>
            <td>
                <span th:text="${book.name}"></span>
            </td>
            <td>
                <span th:text="${book.author}"></span>
            </td>
            <td>
                <span th:text="${book.publisher}"></span>
            </td>
            <td>
                <a th:href="@{books/{id}/delete(id=${book.id})}">
                    削除
                </a>
            </td>
        </tr>
    </table>
</ul>
</body>
</html>
