<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍一覧</title>
</head>
<body>
<a th:href="@{books/new}">書籍登録</a>
<p th:if="${books.isEmpty()}">書籍の登録はありません。</p>
<ul th:unless="${books.isEmpty()}">
    <li th:each="book:${books}">
        <a th:href="@{books/{id}/edit(id=${book.id})}">
            <span th:text="${book.name}"></span>
            <span th:text="${book.author}"></span>
            <span th:text="${book.publisher}"></span>
        </a>
        <a th:href="@{books/{id}/delete(id=${book.id})}">
            削除
        </a>
    </li>
</ul>
</body>
</html>