<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍登録</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
<form id = "newform" >
    <div>
        <label>
            <div>書籍名: <input type="text" id="name" name="name" size="50" />必須。50文字以内</div>
            <div>著者名: <input type="text" id="author" name="author" size="50" />必須。50文字以内</div>
            <div>出版社: <input type="text" id="publisher" name="publisher" size="50" />必須。50文字以内</div>
        </label>
    </div>
    <div>
        <input type="button" id="newBookBtn" value="登録" />
    </div>
    </div>
</form>
<a href="/books">トップ画面へ</a>
<div class="result"></div>
<script type="text/javascript">
$(function(){
    $('#newBookBtn').on('click',function(){
        console.log("new!");
        $('.result').html('');
        $.ajax({
            url:'./new',
            type:'POST',
            data:{
                'name':$('#name').val(),
                'author':$('#author').val(),
                'publisher':$('#publisher').val()
            }
        })
        .done( (data) => {
            console.log(data);
            let msg = '登録しました。'
                     + '<br>'
                     + '番号：' + data.book.id
                     + '<br>'
                     + '書籍名：' + data.book.name
                     + '<br>'
                     + '著者名：' + data.book.author
                     + '<br>'
                     + '出版社名：' + data.book.publisher
                     ;
            $('.result').html(msg);
            $('#name').val('');
            $('#author').val('');
            $('#publisher').val('');
        })
        .fail( (data, status, xhr) => {
            console.log(xhr);
            console.log(status);
            console.log(data);
            // メッセージの個数でresponseJSONの形式が違うので判定する。
            if(data.responseJSON._embedded) {
                let msg1 = '登録に失敗しました。';
                let errors =  data.responseJSON._embedded.errors;
                console.log(errors);
                let msg2 = '';
                errors.forEach(function(error){
                    msg2 = msg2 + '<br>' + error.message
                });
                let msg = msg1 + msg2;
                $('.result').html(msg);
            } else {
                var msg = '登録に失敗しました。';
                var msg = msg
                        + '<br>'
                        + data.responseJSON.message;
                console.log(msg);
                $('.result').html(msg);
            }
        })
        .always( (data) => {
            //nothing
        });
    });
});
</script>
</body>
</html>
