<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>書籍検索</title>
</head>
<body>
<div>
    <div>
        <a th:href="@{books/new}">書籍登録</a>
    </div>
    <div>
        書籍検索
    </div>
</div>
<form th:method="post" th:action="@{./search}" >
    <div>
        <label>
            <span>書籍名: <input type="text" id="name" name="name" value="" /></span>
            <span>著者名: <input type="text" id="author" name="author" value="" /></span>
            <span>出版社: <input type="text" id="publisher" name="publisher" value="" /></span>
        </label>
    </div>
    <div>
        <input type="submit" value="検索" />
    </div>
</form>

<p th:if="${books.isEmpty()}">検索結果はありません。</p>
<ul th:unless="${books.isEmpty()}">
    <li th:each="book:${books}">
        <a th:href="@{books/{id}/edit(id=${book.id})}">
            <span th:text="${book.name}"></span>
            <span th:text="${book.author}"></span>
            <span th:text="${book.publisher}"></span>
        </a>
        <a th:href="@{books/{id}/delete(id=${book.id})}">
            削除
        </a>
    </li>
</ul>
</body>
</html>